.content-wrapper {
  display: contents;
}
.content-content {
  flex: 1;
  width: 100%;
  display: flex;
  position: relative;
  max-width: 560px;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  flex-shrink: 0;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: solid;
  border-width: 1px;
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.content-image {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-medium);
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
}
.content-price-title {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.content-list {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.content-list-item1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.content-list-item2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.content-list-item3 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.content-list-item4 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.content-price {
  gap: var(--dl-space-space-halfunit);
  display: none;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.content-button {
  width: 100%;
}
.pricing152-fragment13 {
  display: contents;
}
.pricing152-text18 {
  display: inline-block;
}
.pricing152-fragment14 {
  display: contents;
}
.pricing152-text19 {
  display: inline-block;
}
.pricing152-fragment17 {
  display: contents;
}
.pricing152-text24 {
  display: inline-block;
}
.pricing152-fragment12 {
  display: contents;
}
.pricing152-text15 {
  display: inline-block;
}
.pricing152-fragment11 {
  display: contents;
}
.pricing152-text14 {
  display: inline-block;
  font-size: 48px;
}
.pricing152-fragment15 {
  display: contents;
}
.pricing152-text20 {
  display: inline-block;
}
.pricing152-fragment10 {
  display: contents;
}
.pricing152-text13 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.pricing152-fragment16 {
  display: contents;
}
.pricing152-text23 {
  display: inline-block;
}




@media(max-width: 1600px) {
  .pricing152-text26 {
    font-weight: 700;
  }
  .pricing152-text28 {
    text-decoration: underline;
  }
  .pricing152-text21 {
    font-style: italic;
  }
}
@media(max-width: 991px) {
  .contentroot-class-name1 {
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 767px) {
  .content-content {
    width: 100%;
  }
}

.content-wrapper-rcus {
  display: contents;
}
.content-content1 {
  flex: 1;
  width: 100%;
  display: flex;
  position: relative;
  max-width: 560px;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  flex-shrink: 0;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: solid;
  border-width: 1px;
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.content-image1 {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-medium);
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
}
.content-price-title1 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.content-list1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.content-list-item5 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.content-list-item6 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.content-list-item7 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.content-list-item8 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.content-price1 {
  gap: var(--dl-space-space-halfunit);
  display: none;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.content-button1 {
  width: 100%;
}
.pricing152-fragment21 {
  display: contents;
}
.pricing152-text32 {
  display: inline-block;
}
.pricing152-fragment22 {
  display: contents;
}
.pricing152-text33 {
  display: inline-block;
}
.pricing152-fragment25 {
  display: contents;
}
.pricing152-text38 {
  display: inline-block;
}
.pricing152-fragment20 {
  display: contents;
}
.pricing152-text31 {
  display: inline-block;
}
.pricing152-fragment19 {
  display: contents;
}
.pricing152-text30 {
  display: inline-block;
  font-size: 48px;
}
.pricing152-fragment23 {
  display: contents;
}
.pricing152-text34 {
  display: inline-block;
}
.pricing152-fragment18 {
  display: contents;
}
.pricing152-text29 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.pricing152-fragment24 {
  display: contents;
}
.pricing152-text37 {
  display: inline-block;
}




@media(max-width: 1600px) {
  .pricing152-text40 {
    font-weight: 700;
  }
  .pricing152-text42 {
    text-decoration: underline;
  }
  .pricing152-text35 {
    font-style: italic;
  }
}
@media(max-width: 991px) {
  .contentroot-class-name1 {
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 767px) {
  .content-content1 {
    width: 100%;
  }
}

.content-wrapper-5uwc {
  display: contents;
}
.content-content2 {
  flex: 1;
  width: 100%;
  display: flex;
  position: relative;
  max-width: 560px;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  flex-shrink: 0;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: solid;
  border-width: 1px;
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.content-image2 {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-medium);
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
}
.content-price-title2 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.content-list2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.content-list-item9 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.content-list-item10 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.content-list-item11 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.content-list-item12 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.content-price2 {
  gap: var(--dl-space-space-halfunit);
  display: none;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.content-button2 {
  width: 100%;
}
.pricing152-fragment29 {
  display: contents;
}
.pricing152-text46 {
  display: inline-block;
}
.pricing152-fragment30 {
  display: contents;
}
.pricing152-text49 {
  display: inline-block;
}
.pricing152-fragment33 {
  display: contents;
}
.pricing152-text54 {
  display: inline-block;
}
.pricing152-fragment28 {
  display: contents;
}
.pricing152-text45 {
  display: inline-block;
}
.pricing152-fragment27 {
  display: contents;
}
.pricing152-text44 {
  display: inline-block;
  font-size: 48px;
}
.pricing152-fragment31 {
  display: contents;
}
.pricing152-text50 {
  display: inline-block;
}
.pricing152-fragment26 {
  display: contents;
}
.pricing152-text43 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.pricing152-fragment32 {
  display: contents;
}
.pricing152-text53 {
  display: inline-block;
}




@media(max-width: 1600px) {
  .pricing152-text56 {
    font-weight: 700;
  }
  .pricing152-text58 {
    text-decoration: underline;
  }
}
@media(max-width: 991px) {
  .contentroot-class-name1 {
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 767px) {
  .content-content2 {
    width: 100%;
  }
}

.content-wrapper-yu9b {
  display: contents;
}
.content-content3 {
  flex: 1;
  width: 100%;
  display: flex;
  position: relative;
  max-width: 560px;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  flex-shrink: 0;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: solid;
  border-width: 1px;
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.content-image3 {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-medium);
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
}
.content-price-title3 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.content-list3 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.content-list-item13 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.content-list-item14 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.content-list-item15 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.content-list-item16 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.content-price3 {
  gap: var(--dl-space-space-halfunit);
  display: none;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.content-button3 {
  width: 100%;
}
.pricing152-fragment37 {
  display: contents;
}
.pricing152-text64 {
  display: inline-block;
}
.pricing152-fragment38 {
  display: contents;
}
.pricing152-text65 {
  display: inline-block;
}
.pricing152-fragment41 {
  display: contents;
}
.pricing152-text70 {
  display: inline-block;
}
.pricing152-fragment36 {
  display: contents;
}
.pricing152-text63 {
  display: inline-block;
}
.pricing152-fragment35 {
  display: contents;
}
.pricing152-text62 {
  display: inline-block;
  font-size: 48px;
}
.pricing152-fragment39 {
  display: contents;
}
.pricing152-text66 {
  display: inline-block;
}
.pricing152-fragment34 {
  display: contents;
}
.pricing152-text59 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.pricing152-fragment40 {
  display: contents;
}
.pricing152-text69 {
  display: inline-block;
}




@media(max-width: 1600px) {
  .pricing152-text72 {
    font-weight: 700;
  }
  .pricing152-text74 {
    text-decoration: underline;
  }
}
@media(max-width: 991px) {
  .contentroot-class-name1 {
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 767px) {
  .content-content3 {
    width: 100%;
  }
}

.pricing152-pricing3 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.pricing152-max-width {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.pricing152-section-title {
  gap: var(--dl-space-space-unit);
  flex: 1;
  width: 100%;
  display: flex;
  max-width: 800px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.pricing152-content {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.pricing152-container {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.pricing152-fragment10 {
  display: contents;
}
.pricing152-text13 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.pricing152-fragment11 {
  display: contents;
}
.pricing152-text14 {
  display: inline-block;
  font-size: 48px;
}
.pricing152-fragment12 {
  display: contents;
}
.pricing152-text15 {
  display: inline-block;
}
.pricing152-fragment13 {
  display: contents;
}
.pricing152-text18 {
  display: inline-block;
}
.pricing152-fragment14 {
  display: contents;
}
.pricing152-text19 {
  display: inline-block;
}
.pricing152-fragment15 {
  display: contents;
}
.pricing152-text20 {
  display: inline-block;
}
.pricing152-fragment16 {
  display: contents;
}
.pricing152-text23 {
  display: inline-block;
}
.pricing152-fragment17 {
  display: contents;
}
.pricing152-text24 {
  display: inline-block;
}
.pricing152-fragment18 {
  display: contents;
}
.pricing152-text29 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.pricing152-fragment19 {
  display: contents;
}
.pricing152-text30 {
  display: inline-block;
  font-size: 48px;
}
.pricing152-fragment20 {
  display: contents;
}
.pricing152-text31 {
  display: inline-block;
}
.pricing152-fragment21 {
  display: contents;
}
.pricing152-text32 {
  display: inline-block;
}
.pricing152-fragment22 {
  display: contents;
}
.pricing152-text33 {
  display: inline-block;
}
.pricing152-fragment23 {
  display: contents;
}
.pricing152-text34 {
  display: inline-block;
}
.pricing152-fragment24 {
  display: contents;
}
.pricing152-text37 {
  display: inline-block;
}
.pricing152-fragment25 {
  display: contents;
}
.pricing152-text38 {
  display: inline-block;
}
.pricing152-fragment26 {
  display: contents;
}
.pricing152-text43 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.pricing152-fragment27 {
  display: contents;
}
.pricing152-text44 {
  display: inline-block;
  font-size: 48px;
}
.pricing152-fragment28 {
  display: contents;
}
.pricing152-text45 {
  display: inline-block;
}
.pricing152-fragment29 {
  display: contents;
}
.pricing152-text46 {
  display: inline-block;
}
.pricing152-fragment30 {
  display: contents;
}
.pricing152-text49 {
  display: inline-block;
}
.pricing152-fragment31 {
  display: contents;
}
.pricing152-text50 {
  display: inline-block;
}
.pricing152-fragment32 {
  display: contents;
}
.pricing152-text53 {
  display: inline-block;
}
.pricing152-fragment33 {
  display: contents;
}
.pricing152-text54 {
  display: inline-block;
}
.pricing152-fragment34 {
  display: contents;
}
.pricing152-text59 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.pricing152-fragment35 {
  display: contents;
}
.pricing152-text62 {
  display: inline-block;
  font-size: 48px;
}
.pricing152-fragment36 {
  display: contents;
}
.pricing152-text63 {
  display: inline-block;
}
.pricing152-fragment37 {
  display: contents;
}
.pricing152-text64 {
  display: inline-block;
}
.pricing152-fragment38 {
  display: contents;
}
.pricing152-text65 {
  display: inline-block;
}
.pricing152-fragment39 {
  display: contents;
}
.pricing152-text66 {
  display: inline-block;
}
.pricing152-fragment40 {
  display: contents;
}
.pricing152-text69 {
  display: inline-block;
}
.pricing152-fragment41 {
  display: contents;
}
.pricing152-text70 {
  display: inline-block;
}
.pricing152-fragment42 {
  display: contents;
}
.pricing152-text75 {
  display: inline-block;
  text-align: center;
}
.pricing152-fragment43 {
  display: contents;
}
.pricing152-text76 {
  display: inline-block;
  text-align: center;
}
.pricing152-fragment44 {
  display: contents;
}
.pricing152-text79 {
  display: inline-block;
  text-align: center;
}
@media(max-width: 1600px) {
  .pricing152-container {
    align-items: center;
    justify-content: center;
  }
  .pricing152-text21 {
    font-style: italic;
  }
  .pricing152-text26 {
    font-weight: 700;
  }
  .pricing152-text28 {
    text-decoration: underline;
  }
  .pricing152-text35 {
    font-style: italic;
  }
  .pricing152-text40 {
    font-weight: 700;
  }
  .pricing152-text42 {
    text-decoration: underline;
  }
  .pricing152-text56 {
    font-weight: 700;
  }
  .pricing152-text58 {
    text-decoration: underline;
  }
  .pricing152-text72 {
    font-weight: 700;
  }
  .pricing152-text74 {
    text-decoration: underline;
  }
}
@media(max-width: 991px) {
  .pricing152-container {
    height: auto;
  }
}
@media(max-width: 479px) {
  .pricing152-max-width {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .pricing152-container {
    flex-direction: column;
  }
}
