<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Mélanie Lvcdb Photographie</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background: var(--dl-color-gray-white);

        null
      }
    </style>
    <link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css"
    />
  </head>
  <body>
    <link rel="stylesheet" href="../style.css" />
    <div>
      <link href="./pricing152.css" rel="stylesheet" />
      <div class="pricing152-pricing3 thq-section-padding">
        <div class="pricing152-max-width thq-section-max-width">
          <div class="pricing152-section-title">
            <span>
              <fragment class="pricing152-fragment44">
                <span class="pricing152-text79 thq-body-small">
                  Affordable Pricing Plans to Get You Started
                </span>
              </fragment>
            </span>
            <div class="pricing152-content">
              <h2>
                <fragment class="pricing152-fragment42">
                  <h2 class="pricing152-text75 thq-heading-2">Pricing plan</h2>
                </fragment>
              </h2>
              <p>
                <fragment class="pricing152-fragment43"></fragment>
              </p>
              <p class="pricing152-text76 thq-body-large">
                <span>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </span>
                <span></span>
              </p>

              <p></p>
            </div>
          </div>
          <div class="pricing152-container">
            <content-wrapper
              class="content-wrapper"
              rootclassname="contentundefined"
            >
              <!--Content component-->
              <div class="content-content thq-card contentroot-class-name1">
                <img
                  alt="image"
                  src="public/81339768_1673524286121010_3021586059117985792_n-200w.jpg"
                  class="content-image"
                />
                <div class="content-price-title">
                  <p>
                    <fragment class="pricing152-fragment10">
                      <span class="pricing152-text13 thq-body-large">
                        Séance 30mn
                      </span>
                    </fragment>
                  </p>
                  <p>
                    <fragment class="pricing152-fragment13">
                      <span class="pricing152-text18 thq-body-large">
                        Scéance photo de 30mn pour vous et vos animaux. Parfait
                        pour garder un souvenir de vos animaux en haute qualité.
                      </span>
                    </fragment>
                  </p>
                </div>
                <div class="thq-divider-horizontal"></div>
                <div class="content-list">
                  <div class="content-list-item1">
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span>
                      <fragment class="pricing152-fragment14">
                        <span class="pricing152-text19 thq-body-small">
                          30mn de Shooting ⏲
                        </span>
                      </fragment>
                    </span>
                  </div>
                  <div class="content-list-item2">
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span>
                      <fragment class="pricing152-fragment15">
                        <span class="pricing152-text20 thq-body-small">
                          <span class="pricing152-text21">10</span>
                          <span>Photo HD</span>
                        </span>
                      </fragment>
                    </span>
                  </div>
                  <div class="content-list-item3">
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span>
                      <fragment class="pricing152-fragment16">
                        <span class="pricing152-text23 thq-body-small">
                          Envoi sécurisé 🔐
                        </span>
                      </fragment>
                    </span>
                  </div>
                  <div class="content-list-item4">
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span>
                      <fragment class="pricing152-fragment17">
                        <span class="pricing152-text24 thq-body-small">
                          <span>Déplacement</span>
                          <span class="pricing152-text26">Gratuit</span>
                          <span>moins de</span>
                          <span class="pricing152-text28">10Km</span>
                        </span>
                      </fragment>
                    </span>
                  </div>
                </div>
                <div class="thq-divider-horizontal"></div>
                <div class="content-price">
                  <h3>
                    <fragment class="pricing152-fragment11">
                      <span class="pricing152-text14 thq-heading-3">
                        $20/mo
                      </span>
                    </fragment>
                  </h3>
                </div>
                <button class="content-button thq-button-filled">
                  <span>
                    <fragment class="pricing152-fragment12">
                      <span class="pricing152-text15 thq-body-small">
                        <span>Contacter</span>
                        <br />
                      </span>
                    </fragment>
                  </span>
                </button>
              </div>
            </content-wrapper>
            <content-wrapper-rcus
              class="content-wrapper-rcus"
              rootclassname="contentundefined"
            >
              <!--Content component-->
              <div class="content-content1 thq-card contentroot-class-name">
                <img
                  alt="image"
                  src="public/external/100474183_2909126925849070_1456771096266145792_n-200h.jpg"
                  class="content-image1"
                />
                <div class="content-price-title1">
                  <p>
                    <fragment class="pricing152-fragment18">
                      <span class="pricing152-text29 thq-body-large">
                        Scéance 1 heure
                      </span>
                    </fragment>
                  </p>
                  <p>
                    <fragment class="pricing152-fragment21">
                      <span class="pricing152-text32 thq-body-large">
                        Scéance photo de 1 heure pour vous et vos animaux.
                        Parfait pour garder un souvenir de vos animaux en haute
                        qualité.
                      </span>
                    </fragment>
                  </p>
                </div>
                <div class="thq-divider-horizontal"></div>
                <div class="content-list1">
                  <div class="content-list-item5">
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span>
                      <fragment class="pricing152-fragment22">
                        <span class="pricing152-text33 thq-body-small">
                          1 heure de Shooting ⏲
                        </span>
                      </fragment>
                    </span>
                  </div>
                  <div class="content-list-item6">
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span>
                      <fragment class="pricing152-fragment23">
                        <span class="pricing152-text34 thq-body-small">
                          <span class="pricing152-text35">20</span>
                          <span>Photo HD</span>
                        </span>
                      </fragment>
                    </span>
                  </div>
                  <div class="content-list-item7">
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span>
                      <fragment class="pricing152-fragment24">
                        <span class="pricing152-text37 thq-body-small">
                          Envoi sécurisé 🔐
                        </span>
                      </fragment>
                    </span>
                  </div>
                  <div class="content-list-item8">
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span>
                      <fragment class="pricing152-fragment25">
                        <span class="pricing152-text38 thq-body-small">
                          <span>Déplacement</span>
                          <span class="pricing152-text40">Gratuit</span>
                          <span>moins de</span>
                          <span class="pricing152-text42">10Km</span>
                        </span>
                      </fragment>
                    </span>
                  </div>
                </div>
                <div class="thq-divider-horizontal"></div>
                <div class="content-price1">
                  <h3>
                    <fragment class="pricing152-fragment19">
                      <span class="pricing152-text30 thq-heading-3">
                        $20/mo
                      </span>
                    </fragment>
                  </h3>
                </div>
                <button class="content-button1 thq-button-filled">
                  <span>
                    <fragment class="pricing152-fragment20">
                      <span class="pricing152-text31 thq-body-small">
                        Contacter
                      </span>
                    </fragment>
                  </span>
                </button>
              </div>
            </content-wrapper-rcus>
            <content-wrapper-5uwc
              class="content-wrapper-5uwc"
              rootclassname="contentundefined"
            >
              <!--Content component-->
              <div class="content-content2 thq-card contentroot-class-name2">
                <img
                  alt="image"
                  src="public/header-background_mobile-200w.jpg"
                  class="content-image2"
                />
                <div class="content-price-title2">
                  <p>
                    <fragment class="pricing152-fragment26">
                      <span class="pricing152-text43 thq-body-large">
                        Scéance Fond noir
                      </span>
                    </fragment>
                  </p>
                  <p>
                    <fragment class="pricing152-fragment29">
                      <span class="pricing152-text46 thq-body-large">
                        <span>
                          Scéance photo avec rendu en fond noir. Super cadeau a
                          offir ou pour vous, pour imortaliser votre animal
                        </span>
                        <br />
                      </span>
                    </fragment>
                  </p>
                </div>
                <div class="thq-divider-horizontal"></div>
                <div class="content-list2">
                  <div class="content-list-item9">
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span>
                      <fragment class="pricing152-fragment30">
                        <span class="pricing152-text49 thq-body-small">
                          30mn de Shooting ⏲
                        </span>
                      </fragment>
                    </span>
                  </div>
                  <div class="content-list-item10">
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span>
                      <fragment class="pricing152-fragment31">
                        <span class="pricing152-text50 thq-body-small">
                          <span>5</span>
                          <span>Photo HD</span>
                        </span>
                      </fragment>
                    </span>
                  </div>
                  <div class="content-list-item11">
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span>
                      <fragment class="pricing152-fragment32">
                        <span class="pricing152-text53 thq-body-small">
                          Envoi sécurisé 🔐
                        </span>
                      </fragment>
                    </span>
                  </div>
                  <div class="content-list-item12">
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span>
                      <fragment class="pricing152-fragment33">
                        <span class="pricing152-text54 thq-body-small">
                          <span>Déplacement</span>
                          <span class="pricing152-text56">Gratuit</span>
                          <span>moins de</span>
                          <span class="pricing152-text58">10Km</span>
                        </span>
                      </fragment>
                    </span>
                  </div>
                </div>
                <div class="thq-divider-horizontal"></div>
                <div class="content-price2">
                  <h3>
                    <fragment class="pricing152-fragment27">
                      <span class="pricing152-text44 thq-heading-3">
                        $20/mo
                      </span>
                    </fragment>
                  </h3>
                </div>
                <button class="content-button2 thq-button-filled">
                  <span>
                    <fragment class="pricing152-fragment28">
                      <span class="pricing152-text45 thq-body-small">
                        Contacter
                      </span>
                    </fragment>
                  </span>
                </button>
              </div>
            </content-wrapper-5uwc>
            <content-wrapper-yu9b
              class="content-wrapper-yu9b"
              rootclassname="contentundefined"
            >
              <!--Content component-->
              <div class="content-content3 thq-card contentroot-class-name3">
                <img
                  alt="image"
                  src="public/header-background_mobile-200w.jpg"
                  class="content-image3"
                />
                <div class="content-price-title3">
                  <p>
                    <fragment class="pricing152-fragment34">
                      <span class="pricing152-text59 thq-body-large">
                        <span>Scéance Fond noir + Feuilles d'or</span>
                        <br />
                      </span>
                    </fragment>
                  </p>
                  <p>
                    <fragment class="pricing152-fragment37">
                      <span class="pricing152-text64 thq-body-large">
                        Scéance photo avec rendu en fond noir, avec des feuilles
                        d'or pour sublimer votre animal.
                      </span>
                    </fragment>
                  </p>
                </div>
                <div class="thq-divider-horizontal"></div>
                <div class="content-list3">
                  <div class="content-list-item13">
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span>
                      <fragment class="pricing152-fragment38">
                        <span class="pricing152-text65 thq-body-small">
                          30mn de Shooting ⏲
                        </span>
                      </fragment>
                    </span>
                  </div>
                  <div class="content-list-item14">
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span>
                      <fragment class="pricing152-fragment39">
                        <span class="pricing152-text66 thq-body-small">
                          <span>5</span>
                          <span>Photo HD</span>
                        </span>
                      </fragment>
                    </span>
                  </div>
                  <div class="content-list-item15">
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span>
                      <fragment class="pricing152-fragment40">
                        <span class="pricing152-text69 thq-body-small">
                          Envoi sécurisé 🔐
                        </span>
                      </fragment>
                    </span>
                  </div>
                  <div class="content-list-item16">
                    <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                    <span>
                      <fragment class="pricing152-fragment41">
                        <span class="pricing152-text70 thq-body-small">
                          <span>Déplacement</span>
                          <span class="pricing152-text72">Gratuit</span>
                          <span>moins de</span>
                          <span class="pricing152-text74">10Km</span>
                        </span>
                      </fragment>
                    </span>
                  </div>
                </div>
                <div class="thq-divider-horizontal"></div>
                <div class="content-price3">
                  <h3>
                    <fragment class="pricing152-fragment35">
                      <span class="pricing152-text62 thq-heading-3">
                        $20/mo
                      </span>
                    </fragment>
                  </h3>
                </div>
                <button class="content-button3 thq-button-filled">
                  <span>
                    <fragment class="pricing152-fragment36">
                      <span class="pricing152-text63 thq-body-small">
                        Contacter
                      </span>
                    </fragment>
                  </span>
                </button>
              </div>
            </content-wrapper-yu9b>
          </div>
        </div>
      </div>
    </div>
    <script
      defer=""
      src="https://unpkg.com/@teleporthq/teleport-custom-scripts"
    ></script>
    <script
      defer=""
      src="https://unpkg.com/@teleporthq/react-components/dist/animate-on-reveal.umd.js"
    ></script>
  </body>
</html>
