<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Mélanie Lvcdb Photographie</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background: var(--dl-color-gray-white);

        null
      }
    </style>
    <link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css"
    />
  </head>
  <body>
    <link rel="stylesheet" href="../style.css" />
    <div>
      <link href="./pricing15.css" rel="stylesheet" />
      <div class="pricing15-pricing3 thq-section-padding">
        <div class="pricing15-max-width thq-section-max-width">
          <div class="pricing15-section-title">
            <span>
              <fragment class="pricing15-fragment12">
                <span class="pricing15-text25 thq-body-small">
                  Affordable Pricing Plans to Get You Started
                </span>
              </fragment>
            </span>
            <div class="pricing15-content1">
              <h2>
                <fragment class="pricing15-fragment14">
                  <h2 class="pricing15-text27 thq-heading-2">Pricing plan</h2>
                </fragment>
              </h2>
              <p>
                <fragment class="pricing15-fragment19"></fragment>
              </p>
              <p class="pricing15-text32 thq-body-large">
                <span>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </span>
                <span></span>
              </p>

              <p></p>
            </div>
          </div>
          <div class="pricing15-content2 thq-card">
            <svg viewBox="0 0 1243.4285714285713 1024" class="pricing15-icon10">
              <path
                d="M365.714 932.571l219.429-109.714v-179.429l-219.429 93.714v195.429zM329.143 673.143l230.857-98.857-230.857-98.857-230.857 98.857zM950.857 932.571l219.429-109.714v-179.429l-219.429 93.714v195.429zM914.286 673.143l230.857-98.857-230.857-98.857-230.857 98.857zM658.286 505.714l219.429-94.286v-152l-219.429 93.714v152.571zM621.714 289.143l252-108-252-108-252 108zM1243.429 585.143v237.714c0 27.429-15.429 53.143-40.571 65.143l-256 128c-10.286 5.714-21.143 8-32.571 8s-22.286-2.286-32.571-8l-256-128c-1.714-0.571-2.857-1.143-4-2.286-1.143 1.143-2.286 1.714-4 2.286l-256 128c-10.286 5.714-21.143 8-32.571 8s-22.286-2.286-32.571-8l-256-128c-25.143-12-40.571-37.714-40.571-65.143v-237.714c0-29.143 17.714-55.429 44.571-67.429l248-106.286v-228.571c0-29.143 17.714-55.429 44.571-67.429l256-109.714c9.143-4 18.857-5.714 28.571-5.714s19.429 1.714 28.571 5.714l256 109.714c26.857 12 44.571 38.286 44.571 67.429v228.571l248 106.286c27.429 12 44.571 38.286 44.571 67.429z"
              ></path>
            </svg>
            <div class="pricing15-price-title">
              <p>
                <fragment class="pricing15-fragment16"></fragment>
              </p>
              <p class="pricing15-text29 thq-body-large">Basic plan</p>

              <p></p>
              <p>
                <fragment class="pricing15-fragment17"></fragment>
              </p>
              <p class="pricing15-text30 thq-body-large">
                Lorem ipsum dolor sit amet
              </p>

              <p></p>
            </div>
            <div class="thq-divider-horizontal"></div>
            <div class="pricing15-list">
              <div class="pricing15-list-item1">
                <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                  <path
                    d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                  ></path>
                </svg>
                <span>
                  <fragment class="pricing15-fragment22">
                    <span class="pricing15-text37 thq-body-small">
                      Feature text goes here
                    </span>
                  </fragment>
                </span>
              </div>
              <div class="pricing15-list-item2">
                <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                  <path
                    d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                  ></path>
                </svg>
                <span>
                  <fragment class="pricing15-fragment18">
                    <span class="pricing15-text31 thq-body-small">
                      Feature text goes here
                    </span>
                  </fragment>
                </span>
              </div>
              <div class="pricing15-list-item3">
                <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                  <path
                    d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                  ></path>
                </svg>
                <span>
                  <fragment class="pricing15-fragment15">
                    <span class="pricing15-text28 thq-body-small">
                      Feature text goes here
                    </span>
                  </fragment>
                </span>
              </div>
              <div class="pricing15-list-item4">
                <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                  <path
                    d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                  ></path>
                </svg>
                <span>
                  <fragment class="pricing15-fragment13">
                    <span class="pricing15-text26 thq-body-small">
                      Feature text goes here
                    </span>
                  </fragment>
                </span>
              </div>
              <div class="pricing15-list-item5">
                <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                  <path
                    d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                  ></path>
                </svg>
                <span>
                  <fragment class="pricing15-fragment11">
                    <span class="pricing15-text24 thq-body-small">
                      Feature text goes here
                    </span>
                  </fragment>
                </span>
              </div>
            </div>
            <div class="thq-divider-horizontal"></div>
            <div class="pricing15-price">
              <h3>
                <fragment class="pricing15-fragment20">
                  <h3 class="pricing15-text35 thq-heading-3">$20/mo</h3>
                </fragment>
              </h3>
              <p>
                <fragment class="pricing15-fragment21"></fragment>
              </p>
              <p class="pricing15-text36 thq-body-large">or $200 yearly</p>

              <p></p>
            </div>
            <button class="pricing15-button thq-button-filled">
              <span>
                <fragment class="pricing15-fragment10">
                  <span class="pricing15-text23 thq-body-small">
                    Get started
                  </span>
                </fragment>
              </span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <script
      defer=""
      src="https://unpkg.com/@teleporthq/teleport-custom-scripts"
    ></script>
    <script
      defer=""
      src="https://unpkg.com/@teleporthq/react-components/dist/animate-on-reveal.umd.js"
    ></script>
  </body>
</html>
